.container {
    margin-top: 20px;
}

.description {
    font-size: 1.2rem;
    margin-top: 30px;
}

.pt-serif-regular-italic {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: italic;
    color: var(--texto-primario);
}
